<div class="sites-container">
    <header class="page-header">
        <h1>Manga Sites</h1>
        <p class="page-subtitle">Browse and download manga from supported sites</p>
    </header>

    <div class="sites-grid">
        <div *ngFor="let site of sites" class="site-card">
            <div class="site-icon">
                <img [src]="site.icon" [alt]="site.name" />
            </div>
            <div class="site-info">
                <h3>{{ site.name }}</h3>
                <p>{{ site.description }}</p>
                <a [href]="site.url" target="_blank" class="site-link">
                    Visit Site
                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 17L17 7M17 7H7M17 7V17" stroke="currentColor" stroke-width="2" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>