<div class="sites-container">
    <header class="page-header">
        <h1>Manga Sites</h1>
        <p class="page-subtitle">Browse and download manga from supported sites</p>
    </header>

    <div class="sites-grid">
        <div *ngFor="let site of sites" class="category-btn" 
        [routerLink]="['/sites', site.id]"
        >
        <div class="category-content">
            <span class="category-name">{{ site.name }}</span>
            <!-- <span class="count">{{ site.pages }} chapters</span> -->
        </div>
        <!-- <span class="category-label" *ngIf="category.isDefault">Default</span> -->
    </div>
    </div>
</div>