<div class="manga-detail-container" *ngIf="manga">
    
    <div class="manga-info-section">
        <div class="manga-cover">
            <img [src]="cover" [alt]="manga.name" />
        </div>

        <div class="manga-details">
            <h1>{{ manga.name }}</h1>
            <!-- <p class="author">by {{ manga.author }}</p> -->

            <div class="manga-meta">
                <!-- <span class="status" [class]="manga.status.toLowerCase()">{{ manga.status }}</span> -->
                <!-- <span class="rating">★ {{ manga.rating }}/10</span> -->
                <span class="chapter-count">{{ manga.pages }} pages</span>
            </div>

            <div class="genres">
                <span *ngFor="let genre of manga.tags" class="genre-tag" (click)="searchTag(genre)">{{ genre }}</span>
            </div>

            <!-- <p class="description">{{ manga.description }}</p> -->

            <div class="action-buttons">
                <button class="primary-btn" (click)="readManga()">Start Reading</button>
                <button class="secondary-btn" (click)="bookmarkManga()">Add to Bookmarks</button>
                <button class="secondary-btn" (click)="setShowGalleryModal(true)">Add to Gallery</button>
                <button class="danger-btn" (click)="deleteManga()">Delete</button>
                <button class="primary-btn" (click)="reorderManga()">Reorder</button>
            </div>
        </div>
    </div>

    <!-- <a class="chapter-btn" [href]="'http://10.0.0.112:8080/pdfs/'+manga.name+'.pdf'">
        <div class="category-content">
            <span class="category-name">{{ manga.name }}</span>
            <span class="count">{{ manga.pages }} pages</span>
        </div>

    </a> -->

    <div class="gallery-modal" *ngIf="showGalleryModal">
        <div class="gallery-overlay" (click)="setShowGalleryModal(false)"></div>
        <div class="gallery-window">
            <h3 class="gallery-header">Add to Gallery</h3>
            <div class="scroll-gallery">
                <button *ngFor="let gallery of galleries" (click)="addToGallery(gallery.id!)" class="secondary-btn gallery-btn">
                    <span class="text-white">{{gallery.name}}</span>
                </button>
            </div>
            <button (click)="setShowGalleryModal(false)" class="primary-btn gallery-btn">
                Cancel
            </button>
        </div>
    </div>


</div>