
.manga-viewer{
    scrollbar-width: none;
    /* display: none; */
    /* display: flex; */
    /* flex-direction: row; */
    /* flex: 1; */
    /* height: 91vh; */
    overflow: hidden;
}

.manga-viewer::-webkit-scrollbar{
    display: none;
}

.pdf-viewer{
    width: 100%; 
    height: 91vh;
    /* height: 100%; */
    scrollbar-width: none;
    overflow-y: scroll;

}

.pdf-viewer::-webkit-scrollbar{
    display: none;
}