<div class="manga-detail-container" *ngIf="manga">

    <div class="manga-info-section">
        <div class="manga-cover">
            <img [src]="manga.cover" [alt]="manga.name" />
        </div>

        <div class="manga-details">
            <h1>{{ manga.name }}</h1>
            <!-- <p class="author">by {{ manga.author }}</p> -->

            <div class="manga-meta">
                <!-- <span class="status" [class]="manga.status.toLowerCase()">{{ manga.status }}</span> -->
                <!-- <span class="rating">★ {{ manga.rating }}/10</span> -->
                <span class="chapter-count">{{ manga.pages }} chapters</span>
            </div>

            <div class="genres">
                <span *ngFor="let genre of manga.tags" class="genre-tag" (click)="searchTag(genre)">{{ genre }}</span>
            </div>

            <!-- <p class="description">{{ manga.description }}</p> -->

            <div class="action-buttons">
                <button class="primary-btn" (click)="downloadManga()">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4M7 10l5 5 5-5M12 15V3" stroke="currentColor"
                            stroke-width="2" />
                    </svg>
                    Download
                </button>
                
            </div>
        </div>
    </div>

    <div class="manga-grid">
        <div class="manga-image" *ngFor="let page of manga.pagesLinks">
            <img [src]="page" [alt]="manga.name" />
            
        </div>
    </div>

</div>